{% extends "layout.html" %}

{% block content %}
<div id="chat">
    <ul id="messages"></ul>
    <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('message', function(data) {
        var messages = document.getElementById('messages');
        var li = document.createElement('li');
        li.innerHTML = '<b>' + data.username + ':</b> ' + data.message;
        messages.appendChild(li);
    });

    document.getElementById('form').onsubmit = function() {
        var input = document.getElementById('input');
        var message = input.value;
        input.value = '';
        socket.emit('message', { message: message, username: 'User' });
        return false;
    };
</script>
{% endblock %}
